@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border {
  position: relative;
}

.gradient-border:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #A47032, #D4B076) 1;
  z-index: -1;
  pointer-events: none;
}

.gradient-border > * {
  position: relative;
  z-index: 1;
}